/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'PT Sans Narrow', sans-serif;*/
*{
	/*  width:tamano;
	    height:tamano; 
		padding-top: 10px;
		padding-left:15px;
		padding-right: 13px;
		padding-bottom: 5px; 
		padding: 10px;
		margin: 10px; 
		padding: 10px 13px 5px 15;
		margin-top:10px;
		border:2px solid red;
		margin-right:13px;
		margin-bottom: 15px;
		margin-left: 5px;
		margin: 10px 13px 5px 15px;		*/
}
body{
	font-family: 'PT Sans Narrow',sans-serif;
	margin: 0;
}
input, textarea{
	outline:0;
}
input:focus, textarea:focus{
	background:lightgray;
}
table{
	width:100%;	
}
th{
	background-color: #273b47;
	color: white;
	padding: 10px;
	text-align: left;
	padding-left:20px;
}
td{
	padding:20px;
}
table,td,th{
	border:1px solid #237b47;
	border-collapse: collapse;
}
.background{
	background-image: url('../img/background.png');
	background-size: cover;
}
.button{
	border-radius:8px;
	background-color: #fd324e;
	padding:5px 12px;
	color:white;
	border:none;
	font-size:18px;
	background: linear-gradient(to left,#fd324e,#ff600a);
	cursor:pointer;
	text-decoration:none;
}
.titulo{
	font-family:'Roboto',sans-serif;
	font-size:70px;
	margin-top: 70px;
	margin-bottom: 0;
}
.titulo span{
	text-decoration:underline;
}

.title-a{
	font-size:24px;
	margin-top: 0;
}

.title-b{
	font-size:25px;
	margin-bottom: 20px;
}
.guitarras{
	color:rgba(31,49,60,1);
	margin-bottom: 120px !important;
}
.guitarras h2{
	font-size:35px;
	font-family:'Roboto',sans-serif;
	
}

.portada{
	padding:20px;
	color:white;
	display:flex;
	flex-flow:column wrap;
	align-items:flex-start;
	justify-content: center;
	align-content: space-between;
	height:500px;
	
}
.portada button{
	margin-bottom: 50px;
}
.menu{
	font-size:24px;
	display:inline-block;
	position:absolute;
	right: 300px;
}
.menu li{
	display:inline-block;
	margin-left: 30px;
}
.menu li:before{
	content: '+';
	font-size: 50px;
	line-height: 5px;
	color:lightgray;
}
.menu a{
	color:white;
	text-decoration:none;
}

.logotipo{
	display:inline-block;
	margin-left: 0;
}
.header{
	position: relative;
}
.contenedor{
	width: 800px;
	margin: auto;
	postion:relative;
}
.guitarra{
	position:relative;
	margin:50px 0;
	padding:50px 0;
	border: 1px solid rgba(31,49,60,1);
	border-radius:8px;
}
.right{
	float:right;
	position:absolute;
	top:-97px;
	right:0;
	/*
	left
	top
	right
	bottom
	*/
}
.left{
	float:left;
	position:absolute;
	top: 0;
	left:0;
}
.contenedor-guitarra-a{
	margin-left:50px;
	margin-right: 50px;
}
.contenedor-guitarra-b{
	margin-left: 400px;
}
.footer{
	background-color: #273b47; 
	padding:50px;
}

.contacto{
	display: flex;
	width:280px;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	align-content: space-around;
	height:200px;
}
.contacto img{
	display: block;
}
.contacto strong{
	display:block;
}
.contacto a{
	color:white;
	text-decoration: none;
	margin: 5px 10px 10px  0;
}
.footer .contenedor{
	display:flex;
	justify-content: space-between;
}

.formulario{
	display:flex;
	width:400px;
	color:white;
	
}
.col1, .col2{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.col1{
	margin-right: 20px;
}
.col2{
	align-items:center;
}
.col2 .button{
	margin-top: 15px;
}
.intereses label{
	font-size:15px;
}
.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}
.sexo{
	margin-top: 10px;
}
.tabla{
	margin:50px auto;
}